.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-title {
	font-weight: bold;
	font-size: 72px;
	line-height: 108px;
	text-transform: uppercase;
}

.post-thumbnail {
	width: 100%;

	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.has-back-link {
	display: flex;

	.navigation-link {
		width: 225px;
	}

	article {
		width: calc( 100% - 225px );
	}
}