.wp-block-group {
	padding: 50px 0;
}

.wp-block-quote.is-large p,
.wp-block-quote.is-style-large p {
	font-weight: 700;
	font-size: 30px;
	line-height: 48px;
	font-style: normal;
	@media screen and (min-width:$breakpoint_lg) {
		font-size: 48px;
		line-height: 72px;
	}
}

figure.aligncenter {
	iframe[style] {
		margin: 0 auto !important;
	}

	.wp-block-embed__wrapper {
		text-align: center;
	}
}

.wp-block-button.is-style-small .wp-block-button__link {
	font-size: 18px;

	&.has-background {
		padding: 4px 20px 0 20px;
	}
}