$colors: ( black, $color__black ),
		( white, $color__white ),
		( yellow, $color__yellow ),
		( pink, $color__pink ),
		( orange, $color__orange ),
		( teal, $color__teal ),
		( grey, $color__dark_grey ),
		( steelgrey, $color__steel_grey ),
		( offwhite, $color__off_white ),
		( off-white, $color__off_white );

/* Color Options
--------------------------------------------- */

@each $name, $color in $colors {

	.has-#{$name}-color {
		color: $color !important;
	}

	.has-#{$name}-background-color {
		background-color: $color !important;
	}
}
