$colors: ( black, #000 ),
		( white, #FFF ),
		( yellow, #FFB600 ),
		( pink, #FF9797 ),
		( orange, #F06449 ),
		( teal, #47CCCC ),
		( dark_grey, #404040 ),
		( off_white, #F5F6F4 );

/* Color Options
--------------------------------------------- */

@each $name, $color in $colors {

	.has-#{$name}-color {
		color: $color;
	}

	.has-#{$name}-background-color {
		background-color: $color;
	}
}