// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin image-flush {
	.has-background {
		padding: 25px;

		figure {
			margin: -25px -25px 0 -25px;
		}
	}
}

// make button look like a link
@mixin button-link {
	.wp-block-button__link, .wp-block-button {
		background: transparent !important;
		border: none !important;
		padding-left: 0;
	}
}