ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol.big-numbers {
	list-style: none;
	counter-reset: freefrom-counter;

	li {
		counter-increment: freefrom-counter;
		min-height: 125px;
		margin-bottom: 60px;
		font-size: 24px;
		line-height: 36px;
		position: relative;
		padding-left: 175px;

		strong {
			display: inline;
		}

		&:before {
			content: counter(freefrom-counter);
			color: $color__orange;
			font-weight: 700;
			font-size: 125px;
			line-height: 130px;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

@media screen and (max-width:$breakpoint_lg) {
	ul {
		margin: 0;
		padding-left: 60px;
	}
	ol {
		margin: 0;
		padding: 0;
		li {
			padding-left: 60px;
			&:before {
				font-size: 60px;
				line-height: 65px
			}
		}
	}
}
