body.post, body.page {
	margin: 0;
}

.width-wrapper,
.alignfull .wp-block-group__inner-container,
.alignwide .wp-block-group__inner-container {
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}

.width-wrapper,
.alignfull > .wp-block-group__inner-container,
.alignwide > .wp-block-group__inner-container {
	@media screen and (max-width:$breakpoint_xl) {
		max-width: calc(100vw - 2rem);
	}
}
