$color__black: #000;
$color__white: #fff;
$color__yellow: #FFB600;
$color__pink: #FF9797;
$color__peach: #F06449;
$color__orange: #F06449;
$color__teal: #47CCCC;
$color__dark_grey: #404040;
$color__off_white: #F5F6F4;

$color__background-body: $color__white;
$color__background-screen: $color__white;
$color__background-hr: $color__dark_grey;
$color__background-button: $color__yellow;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: $color__yellow;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
